.delete-spell-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 100px 200px;
}

.delete-spell-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.delete-spell-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding-top: 40px;
    gap: 15px;
}