.create-spellbook-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 100px 200px;
}

.create-spellbook-form-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.create-spellbook-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding-top: 40px;
    gap: 15px;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error-message p {
    color: var(--accent-red);
}

@media (max-width: 768px) {

}