.profile-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 100px 300px;
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 40px;
}

.personal-details-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}