.spellbooks-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 100px 200px;
}

.spellbooks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-shrink: 1;
    margin: 30px 0 20px 0;
    padding: 15px 0;
    background-color: var(--grey-background);
    border-radius: 20px;
}

.spellbooks-list li {
    list-style-type: none;
}

.spellbooks-list > * {
    color: var(--standard-text);
}

.spellbooks-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    padding: 30px 60px;
    width: 900px;
    background-color: var(--light-grey-background);
    border-radius: 20px;
}

.spellbooks-avatar-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.spellbooks-avatar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.spellbooks-upload-file-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.avatar-image {
    height: auto;
    width: 155px;
}

.spellbooks-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 250px;
    gap: 20px;
}

.spellbooks-information div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.spellbooks-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1000px;
    gap: 15px;
}

