.spellbooks-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 100px 200px;
    border: red 2px solid;
}

.spellbooks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-shrink: 1;
    margin: 20px 0;
    background-color: var(--grey-background);
    border: purple 2px solid;
}

.spellbooks-list li {
    list-style-type: none;
}

.spellbooks-list > * {
    color: var(--standard-text);
}

.spellbooks-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px;
    width: 1000px;
    border: var(--beige-background) 2px solid;
}

.avatar-image {
    height: 150px;
    width: auto;
}

.spellbooks-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 250px;
    gap: 20px;
}

.spellbooks-information div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.spellbooks-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1000px;
    gap: 15px;
}

