.create-spell-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 100px 200px;
}

.create-spell-form-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.create-spell-form-classes {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    gap: 7px;
}

.create-spell-form-classes span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.create-spell-form-concentration {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    width: 150px;
}

.form-container input:not([type='checkbox']){
    width: 200px;
}

.form-container textarea {
    width: 300px;
}

.form-container p {
    color: var(--standard-text);
}

.create-spell-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding-top: 40px;
    gap: 15px;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.error-message p {
    color: var(--accent-red);
}

@media (max-width: 768px) {
    .form-container textarea {
        width: 200px;
    }
}