.main-navigation {
    background-color: var(--grey-background);
    padding: 16px 0;
}

.inner-nav-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
    margin: 0 20px;
    /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 0 20px;
}

.logo-image {
    width: 100%;
    max-width: 300px;
}