.main-navigation {
    background-color: var(--grey-background);
    padding: 16px 0;
    height: 120px;
}

.inner-nav-container {
    background-color: var(--grey-background);
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    background-color: var(--grey-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 0 20px;
}

.logo-image {
    background-color: var(--grey-background);
    height: 100px;
    width: auto;
}

@media (max-width: 768px) {
    .inner-nav-container {
        gap: 10px;
        margin: 0 40px;
    }

    .nav-buttons {
        gap: 30px;
        padding: 10px 0;
    }

    .logo-image {
        height: 50px;
    }
}