/*Global Styles*/

:root {
    --grey-background: #313739;
    --beige-background: #FFFCF2;
    --accent-red: #FD0414;
    --standard-text: #FFFFFF;
    --alternative-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

/*Typography*/

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 800;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


